
SQL And SQLite

SQL (Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems. In this lesson, we will cover the basics of SQL and SQLite, including creating databases, tables, and performing various SQL operations

In [1]:
import sqlite3

In [2]:
## Connect to an SQLite database
connection=sqlite3.connect('example.db')
connection

In [3]:
chicken = connection.cursor()

In [9]:
chicken.execute('''
Create Table if Not Exists employees (id Integer Primary Key,
                name Text Not Null,
                age Integer,
                department text)
''')

connection.commit()

In [10]:
chicken.execute('''
Select * from employees
''')

In [12]:
chicken.execute('''
Insert Into employees(name, age, department)
                values('Yash', 21, 'AIML')
''')
chicken.execute('''
Insert Into employees(name, age, department)
                values('bob', 21, 'DS')
''')
chicken.execute('''
Insert Into employees(name, age, department)
                values('tricku', 48, 'cs')
''')
connection.commit()

In [13]:
chicken.execute('Select * from employees')
rows = chicken.fetchall()

for r in rows:
    print(r)

(1, 'Yash', 21, 'AIML')
(2, 'bob', 21, 'DS')
(3, 'tricku', 48, 'cs')
(4, 'Yash', 21, 'AIML')
(5, 'bob', 21, 'DS')
(6, 'tricku', 48, 'cs')

In [14]:
chicken.execute('''
UPDATE employees
               Set age = 99
                where name = "Yash"
''')
connection.commit()

In [15]:
chicken.execute('Select * from employees')
rows = chicken.fetchall()

for r in rows:
    print(r)

(1, 'Yash', 99, 'AIML')
(2, 'bob', 21, 'DS')
(3, 'tricku', 48, 'cs')
(4, 'Yash', 99, 'AIML')
(5, 'bob', 21, 'DS')
(6, 'tricku', 48, 'cs')

In [16]:
chicken.execute('''
DELETE from employees
                where name='bob'
''')

connection.commit()

In [17]:
chicken.execute('Select * from employees')
rows = chicken.fetchall()

for r in rows:
    print(r)

(1, 'Yash', 99, 'AIML')
(3, 'tricku', 48, 'cs')
(4, 'Yash', 99, 'AIML')
(6, 'tricku', 48, 'cs')

In [18]:

## Working Wwith Sales Data
# Connect to an SQLite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

# Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

cursor.executemany('''
Insert into sales(date,product,sales,region)
                   values(?,?,?,?)
''',sales_data)

connection.commit()

In [19]:

# Query data from the sales table
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [21]:

## close the connection
connection.close()

In [22]:
#closed db cannto operate 

# Query data from the sales table
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

ProgrammingError: Cannot operate on a closed database.

In [25]:
# Write a Python function to update the department of an employee based on their `id`.
chicken.connection('''
UPDATE employees
                   SET department='Helicopter'
                   WHERE id=2
''')
connection.execute()

TypeError: execute expected at least 1 argument, got 0